# This provides an optional environment to develop and check the Python
# scripts by git pre-commit hooks.  See file `.pre-commit-config.yaml`
# of this project for additional details.

-r requirements.txt
pre-commit
black
flake8

